<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Verb</th>
      <th>Message</th>
      <th>Type</th>
      <th>Sent</th>
      <th>Acknowledged</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.decorate.each do |activity| %>
      <tr>
        <td><%= activity.user.name %></td>
        <td><%= activity.message.verb %></td>
        <td><%= activity.activity_message %></td>
        <td><%= activity.type %></td>
        <td><%= activity.message.created_at_in_words %> ago</td>
        <% if activity.message.acknowledged_at %>
          <td><%= activity.message.acknowledged_at_in_words %> ago</td>
        <% else %>
          <td>Not yet, silly!</td>
        <% end %>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
